
<!-- Navbar -->
<!-- end of navbar -->

<!-- end of preloader -->
<script src="/js/scripts.js"></script> 

<!-- Header -->
<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <h1>CATAMARCA <span id="js-rotating">INCREIBLE POR NATURALEZA</span></h1>
                        <p class="p-heading p-large">TURS ARG es una agencia especializada en turismo aventura, montañismo y religioso. Todo lo que necesitas para pasar unas fabulosas vacaciones te lo brindamos nosotros.</p>
                        <a class="btn-solid-lg page-scroll" href="#intro">MÁS</a>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
<!-- end of header -->
