

<div  data-spy="scroll" data-target=".fixed-top">
    <!-- Intro -->
    <div id="intro" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="text-container">
                    <div class="section-title">Te ofrecemos los mejores servicios</div>
                    <h2>Ofrecemos algunos de los mejores servicios de paquetes turísticos y recorridos</h2>
                    <p>Muchos turistas al llegar a un lugar se sienten abrumados ya que no saben por donde empezar.</p>
                    <p class="testimonial-text">"Nuestra Mision aquí en ToursArgs es ayudar al turista a conocer y recorrer los principales polos turisticos de la provincia, y que mientras lo haga, lo disfrute"</p>
                    <div class="testimonial-author">Equipo TursArg </div>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-7">
                <div class="image-container">
                    <img class="img-fluid" src="../assets/images/intro-office.jpg" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->

    
    <!-- Services -->
<div id="services" class="cards-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">TURISMO ALTERNATIVO</div>
                <h2>Elija el paquete de servicios
                    <br> que se adapte a sus necesidades</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="assets/images/Fuerte Quemado, Santa María.jpeg" alt="arqueologia">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">ARQUEOLOGÍA</h3>
                        <p>Los estudios arqueológicos sobre las primeras culturas desarrolladas en Catamarca abrieron en los últimos años un
                        nutrido campo para todos los visitantes interesados en la figura del calchaquí y las civilizaciones nativas del Noroeste
                        Argentino.
                        Catamarca se distingue a nivel arqueológico por la gran cantidad de sitios arqueológicos que alberga.</p>
                    </div>
                    <div class="button-container">
                        <a class="btn-solid-reg page-scroll" href="#callMe">DETALLES</a>
                    </div> <!-- end of button-container -->
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="assets/images/Dunas_Saujil_Poman.jpeg" alt="montanismo">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">MONTAÑISMO</h3>
                        <p>El montañismo es un deporte de aventura que cada vez cuenta con más adeptos en el Mundo. Utiliza la fortaleza física de
                        brazos y piernas, a la vez que combina la destreza del escalador.
                        Dentro de los destinos a visitar están el Volcán Incahuasi (6638 mts), el Volcán Ojos del Salado (6893 mts), El Nevado
                        del Pissis (6795 mts) o el Nevado del Aconquija (5559 mts).</p>

                    </div>
                    <div class="button-container">
                        <a class="btn-solid-reg page-scroll" href="#callMe">DETALLES</a>
                    </div> <!-- end of button-container -->
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="assets/images/Mutquin_Poman.jpeg" alt="religioso">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">RELIGIOSO</h3>
                        <p>Monumentos, reliquias, pantallazos ocultos y enigmas de nuestra historia nacional, todo eso puede encontrarse en el
                        turismo religioso. Para este tipo de viajes, Catamarca es una de las mecas.
                        Además de la peregrinación a la Virgen del Valle en Capital, es posible seguir los pasos del Beato Argentino, Fray
                        Mamerto Esquiú, en un recorrido por templos históricos.</p>

                    </div>
                    <div class="button-container">
                        <a class="btn-solid-reg page-scroll" href="#callMe">DETALLES</a>
                    </div> <!-- end of button-container -->
                </div>
                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-2 -->
    <!-- end of services -->

    <!-- Projects -->
<div id="projects" class="filter">
        <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">EXCURSIONES</div>
                        <h2>Elija el Tour que más le guste</h2>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
                <div class="row">
                    <div class="col-lg-12">


                        <div class="grid">
                            <div class="element-item development">
                                 <a class="popup-with-move-anim" href="#project-1"><div class="element-item-overlay"><span>Ambato</span></div><img src="../assets/images/El_rodeo_ambato.jpeg" alt="El_Rodeo"></a>
                            </div>
                            <div class="element-item development">
                                <a class="popup-with-move-anim" href="#project-2"><div class="element-item-overlay"><span>Ancasti</span></div><img src="../assets/images/LaLunita-Ancasti.png" alt="LaLunita-Ancasti"></a>
                            </div>
                            <div class="element-item design development marketing">
                                <a class="popup-with-move-anim" href="#project-3"><div class="element-item-overlay"><span>Andalgalá</span></div><img src="../assets/images/CiudadAndalgala.jpg" alt="Andalgala"></a>
                            </div>
                            <div class="element-item design development marketing">
                                <a class="popup-with-move-anim" href="#project-4"><div class="element-item-overlay"><span>Antofagasta de la Sierra.</span></div><img src="../assets/images/Carachi_Pampa_Antofagasta.jpeg" alt="Carachi_Pampa_Antofagasta"></a>
                            </div>
                            <div class="element-item design development marketing seo">
                                <a class="popup-with-move-anim" href="#project-5"><div class="element-item-overlay"><span>Belén</span></div><img src="../assets/images/castillos-belen.png" alt="castillos-belen"></a>
                            </div>
                            <div class="element-item design marketing seo">
                                <a class="popup-with-move-anim" href="#project-6"><div class="element-item-overlay"><span>Capayán</span></div><img src="../assets/images/IglesiaChumbicha_Capayan.jpeg" alt="IglesiaChumbicha_Capayán"></a>
                            </div>
                            <div class="element-item design marketing">
                                <a class="popup-with-move-anim" href="#project-7"><div class="element-item-overlay"><span>Capital</span></div><img src="../assets/images/Capital.jpeg" alt="Catedral"></a>
                            </div>
                            <div class="element-item design marketing">
                                <a class="popup-with-move-anim" href="#project-8"><div class="element-item-overlay"><span>El Alto</span></div><img src="../assets/images/LosPedraza-ElAlto.jpg" alt="Guayamba_ElAlto"></a>
                            </div>
                            <div class="element-item development">
                                <a class="popup-with-move-anim" href="#project-9"><div class="element-item-overlay"><span>Fray Mamerto Esquiú</span></div><img src="../assets/images/FME_Iglesia_san_jose.jpeg" alt="alternative"></a>
                            </div>
                            <div class="element-item development">
                                <a class="popup-with-move-anim" href="#project-10"><div class="element-item-overlay"><span>La Paz</span></div><img src="../assets/images/EstaciónRecreo-La Paz.jpeg" alt="EstaciónRecreo-La Paz"></a>
                            </div>
                            <div class="element-item design development marketing">
                                <a class="popup-with-move-anim" href="#project-11"><div class="element-item-overlay"><span>Paclín</span></div><img src="../assets/images/SanAntonio-Paclin.jpg" alt="SanAntonio-Paclin"></a>
                            </div>
                            <div class="element-item design development marketing">
                                <a class="popup-with-move-anim" href="#project-12"><div class="element-item-overlay"><span>Pomán</span></div><img src="../assets/images/dunas-poman.png" alt="dunas-poman"></a>
                            </div>                       
                            <div class="element-item design development marketing">
                                <a class="popup-with-move-anim" href="#project-13"><div class="element-item-overlay"><span>Santa María</span></div><img src="../assets/images/PimentonSantaMaria.jpg" alt="PimentonSantaMaria"></a>
                            </div>
                            <div class="element-item design development marketing">
                                <a class="popup-with-move-anim" href="#project-14"><div class="element-item-overlay"><span>Santa Rosa</span></div><img src="../assets/images/Alijilan-SantaRosa.png" alt="DiqueCañada-SantaRosa"></a>
                            </div>                       
                            <div class="element-item design development marketing">
                                <a class="popup-with-move-anim" href="#project-15"><div class="element-item-overlay"><span>Tinogasta</span></div><img src="../assets/images/TermasFiambala_Tinogasta.jpg" alt="TermasFiambala_Tinogasta"></a>
                            </div>
                            <div class="element-item design development marketing">
                                <a class="popup-with-move-anim" href="#project-16"><div class="element-item-overlay"><span>Valle Viejo</span></div><img src="../assets/images/CuestaPortezuelo_ValleViejo.jpg" alt="CuestaPortezuelo_ValleViejo"></a>
                            </div>                       
                        </div> <!-- end of grid -->
                        <!-- end of filter -->
                        
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
        </div> <!-- end of container -->
</div> <!-- end of filter -->
    <!-- end of projects -->

    <!-- Contact -->
    <div id="contact" class="form-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <div class="section-title">CONTACTO</div>
                        <h2>Envía tu consulta</h2>
                        <p>Con gusto te ayudaremos a organizar tu próximo viaje a Catamarca</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="address"><i class="fas fa-map-marker-alt"></i>San Martin 547, San Fernando del Valle de Catamarca</li>
                            <li><i class="fas fa-phone"></i><a href="tel:003024630820">+549-3834-546322</a></li>
                            <br>
                            <li><i class="fas fa-envelope"></i><a href="mailto:office@aria.com">consultas@TursArg.com</a></li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    
                    <!-- Contact Form -->
                    
                    <form id="contactForm" data-toggle="validator" data-focus="false">
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="cname" required>
                            <label class="label-control" for="cname">Nombre</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" id="cemail" required>
                            <label class="label-control" for="cemail">Email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control-textarea" id="cmessage" required></textarea>
                            <label class="label-control" for="cmessage">Tu consulta</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">ENVIAR MENSAJE</button>
                        </div>
                        <div class="form-message">
                            <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                    <!-- end of contact form -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-2 -->
    <!-- end of contact -->
</div>