@{
    ViewBag.Title = "TursArg";
}

<div class="jumbotron">
    <h1>TURISMO CATAMARCA</h1>
    <br/>
    <p class="lead">Te invitamos a conocer Catamarca</p>
    <br/>
    <p><a href="https://www.turismo.catamarca.gob.ar/" class="btn btn-primary btn-lg">Leer más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Experiencias</h2>
        <p>Inti Raymi, una fiesta para recuperar y recrear  </p>
        <p> Cada mes de junio, en Catamarca, una de las celebraciones más importantes de la tradición andina da inicio a un nuevo año agrícola. Y renueva el ancestral legado cultural del pueblo catamarqueño. Las fiestas siempre fueron de gran...       </p>
        <p><a class="btn btn-default" href="https://www.turismo.catamarca.gob.ar/?vh_accommodation=acomodaciones-pagina-de-inicio/experiencias">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>¿Donde Vamos?</h2>
        <p>Te invitamos a redescubrir sus principales tesoros en una experiencia que involucra todos los sentidos y torna inolvidables los coloridos paisajes y las anécdotas del lugar. Una provincia con servicios turísticos de calidad que permiten vivir experiencias auténticas y únicas en forma segura y sustentable, bañadas por el celeste eterno del cielo y un sol omnipresente y por una noche limpia e iluminada por la luna y un océano de estrella  y todo con un inigualable valor agregado, la calidez, hospitalidad y simpatía del pueblo catamarqueño...</p>
        <p><a class="btn btn-default" href="https://www.turismo.catamarca.gob.ar/?vh_accommodation=acomodaciones-pagina-de-inicio/polos-turisticos-prueba-pagina-de-inicio">Leer más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Atractivos Turísticos</h2>
        <p>El tramo de la Ruta Nac. 60, entre el Este y el Oeste de la Provincia de Catamarca, recorre los departamentos de La Paz, Capayán, Pomán y Tinogasta. La Ruta 60 se encuentra conectada por el sureste con la …</p>
        <p><a class="btn btn-default" href="https://www.turismo.catamarca.gob.ar/?vh_accommodation=pagina-inicio-2/rutas-tematicas">Leer más &raquo;</a></p>
    </div>
</div>