
<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
    <!-- <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top"></nav> -->
    <!-- Text Logo - Use this if you don't have a graphic logo -->
    <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->
  
    <!-- Image Logo -->
    <a class="navbar-brand logo-image" href="index.html"><img src="../assets/images/favicon.png" alt="alternative"></a> <a>TURS ARG</a>
    
    <!-- Mobile Menu Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-awesome fas fa-bars"></span>
        <span class="navbar-toggler-awesome fas fa-times"></span>
    </button>
    <!-- end of mobile menu toggle button -->
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#header">INICIO <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#intro">NOSOTROS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#services">SERVICIOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#projects">TURS</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#contact">CONTACTAME</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link page-scroll" href="#contact">INGRESAR</a>
            </li>      -->     
        </ul>

    </div>
</nav> <!-- end of navbar -->
  <!-- end of navbar -->