

<div class="footer">

<!-- About -->
<div id="about" class="counter">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="image-container">
                    <!-- <img class="img-fluid" src="assets/images/about.jpg" alt="alternative"> -->
                    <img class="img-fluid" src="assets/images/Capital.jpeg" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-md-6">
                <div class="text-container">
                    <div class="text-container about">
                        <h4>¿Por que TURARG?</h4>
                    </div>  
                    <h2 class ="white"> Porque nos apasiona el Turismo de nuestra provincia</h2>
                    <p class ="white">Nuestro objetivo es que disfrutes al máximo de los atractivos que tenemos para ofrecerte.</p>
                    <p class="white">TURARG ha establecido su posición en el mercado hace mucho tiempo.</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body white">100% de nuestros clientes están satisfechos y nos recomiendan.</div>
                            </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body white ">El mejor recuerdo de Catamarca lo tendrás con nosotros.</div>
                        </li>
                    </ul>

            </div> <!-- end of text-container -->      
        </div> <!-- end of col -->
    </div> <!-- end of row -->
</div> <!-- end of container -->
</div> <!-- end of counter -->
<!-- end of about -->

    
 <!--    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-container about">
                    <h4>Pocas palabras sobre TURARG</h4>
                    <p class="white">Nos apasiona ofrecer los mejores servicios de turismo.</p>
                    
                    <p class="white">TURARG siempre esta a tu servicio.</p>
                </div> 
            </div>
 
        
            <div class="col-md-2">
                <div class="text-container">
                    
                    <a class="white" href="index.html"><img src="../assets/images/logo1.png" alt="logo"></a>  <a class="white">   TURS ARG</a>
                </div> 
            </div> 
        </div> 
    </div> 
</div> 
 -->

<!-- Copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="p-small"><a class="navbar-brand logo-image" href="index.html"><img src="../assets/images/favicon.png" alt="alternative"></a> <a>TURS ARG</a> © {{anio}} </p>
            </div> <!-- end of col -->
        </div> <!-- enf of row -->
    </div> <!-- end of container -->
</div> <!-- end of copyright --> 
<!-- end of copyright -->